<!DOCTYPE html>
<html lang="pt-br" class="<%= SITE.showNavBar ? 'has-navbar-fixed-top' : '' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SITE.title ? SITE.title + ' - ' + SITE.sitename : SITE.sitename %></title>
  <link rel="stylesheet" href="<%=SITE.base_url%>/assets/style.css">
</head>
<body class="pb-5">

  <% if(SITE.showNavBar) { %>
  <nav class="navbar is-fixed-top has-background-light" role="navigation" aria-label="main navigation" data-vue="navbar" v-cloak>
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <% if(!SITE.config.sitelogo) { %>
        <img src="/assets/logo.png" width="112" height="28">
        <% } else { %>
        <img src="<%=SITE.config.sitelogo%>" width="112" height="28">
        <% } %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" v-bind:class="{'is-active' : showMenu}" v-on:click="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{'is-active' : showMenu}">
      <div class="navbar-start">
        

        <% if (userData && (userData.role == 'dev' || userData.role == 'admin')) { %>
        <a href="/users" class="navbar-item">
          <i class="mr-1 fas fa-users"></i> Usuários
        </a>
        <% } %>

        <a href="/banners" class="navbar-item">
          <i class="mr-1 fas fa-file-image"></i> Banners
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Posts
          </a>

          <div class="navbar-dropdown">
            <a href="/articles/posts" class="navbar-item">
              Artigos
            </a>
            <hr class="navbar-divider">
            <a href="/articles/posts/edit" class="navbar-item">
              Configurar
            </a>
          </div>
        </div>
        <% if (userData && userData.role == 'dev') { %>
        <a class="navbar-item" href="/api-docs" target="_blank">
          <i class="mr-1 fas fa-file-code"></i> Docs
        </a>
        <% } %>

        <% if (userData && (userData.role == 'dev' || userData.role == 'admin')) { %>
        <a href="/config" class="navbar-item">
          <i class="mr-1 fas fa-cog"></i> Configurações
        </a>
        <% } %>

        <a href="<%=SITE.config.siteurl%>" target="_blank" class="navbar-item has-text-info">
          <small><%=SITE.config.sitename%> <i class="ml-1 fas fa-external-link-alt"></i></small>
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/account" class="button is-primary">
              <i class="mr-2 fas fa-user"></i>
              <strong><%= userData ? userData.acron : "Minha Conta"%></strong>
            </a>
            <a href="/logout" class="button is-light">
              Sair
              <i class="ml-1 fas fa-sign-out-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% } %>


  <section>
    <% if(SITE.showTitleBar && SITE.title) { %>
    <section class="hero is-light">
      <div class="hero-body pt-4 pb-4">
        <div class="container">
          <h1 class="title">
            <%=SITE.title %>
          </h1>
          <% if( SITE.description ) { %>
          <h2 class="subtitle"><%=SITE.description %></h2>
          <% } %>
        </div>
      </div>
    </section>
    <% } %>

    <%-body%>
  </section>

  <script src="<%=SITE.base_url%>/assets/script.js"></script>
</body>
</html>
